.stream_header {
    font-size: 60px;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.streams_containers {
    height: 450;
    line-height: 50px;
    width: 35%;
    color: white;
    text-align: start;
    background-color: gray;
}

.streams_containers_user {
    font-size: 30px;
    padding-left: 5%;
    border: 5px;
    border-color: white;
    background-color: rbg(170, 170, 170);
}

.stream_video {
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 7%;
    height: 100%;
    background-color: rbg(170, 170, 170);
}

.empty_content{
    padding-top: 1%;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}