<div class="root">
    <h1>Enter At Your Own Risk</h1>
    <div class="video-container">
        <iframe 
            src="https://player.twitch.tv/?autoplay=false&video=v547109336&autoplay=true" 
            frameborder="0" 
            allowfullscreen="false"
            auto 
            scrolling="no" 
            height="778" 
            width="1080">
        </iframe>
    </div>
    <div class="button-container">
        <button type="button" class="btn btn-outline-dark">Streams</button>
        <button type="button" class="btn btn-outline-dark">LeaderBoard</button>
    </div>
</div>
