.root {
    height: 100%;
    width: 100%;
    background: inherit;
    display: flex;
    overflow: hidden;
}
.main-container {
    margin-left: 32px;
    margin-right: 32px;
    width: 75%;
    text-align: center;
}
.twitter-container {
    text-align: center;
    flex-direction: column;
}
  
.text-container {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
}

h1 {
    margin-top: 40px;
    font-size: 90px;
    margin-bottom: 40px;
    font-weight: bolder;

}
.text {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 24pt;
    text-indent: 50px;
}
.text-video {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 24pt;
}
.text:first-child {
    margin-top: 64px;
}

.video-container {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
  