<div class="root">
    <div class="main-container">
        <div class="text-container">
            <h1>Enter At Your Own Risk!</h1>
            <div class="text">Welcome to the official website for the TwitchFighter Twitch stream tool! Our vision is for a competitive betting platform for e-sports Twitch Streams. We hope that by leveraging an existing cult following and creating a fun and engaging user experience, we can grow a new community.</div>
            <div class="text">Please help share in this vision! If you have questions, comments, or concerns, please drop us a line on any of our connected accounts!</div>
        </div>
        <div class="video-container">
            <div class="text-video">Check out a video from our streamer of the month below!</div>
            <iframe 
                src="https://player.twitch.tv/?autoplay=false&video=v547109336&autoplay=true" 
                frameborder="0" 
                allowfullscreen="false"
                auto 
                scrolling="no" 
                height="520" 
                width="1100">
            </iframe>
        </div>
    </div>
    <div class="twitter-container">
        <a class="twitter-timeline" data-width="500" data-height="885" data-theme="dark" href="https://twitter.com/StreetFighter?ref_src=twsrc%5Etfw">Tweets by StreetFighter</a> 
    </div>
</div>
