.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.icons {
  max-height: 32px;
  max-width: 32px;
  margin-right: 12px;
}
.icon-row {
  display: inline-block;
  align-items: center;
  font-size: 36px;
  margin-bottom: 42px;
}

.logo {
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
  margin-top: 18px;
  margin-bottom: 18px;
}
.logo-container {
  width: 100%;
  border-bottom: 8px solid white;
  margin-bottom: 36px;

}
.logo-last {
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
  margin-left: 48px;
  margin-bottom: 36px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@keyframes customticker {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}


/* Formatting the full-width ticker wrapper background and font color */
.tickerwrap {
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}


/* Formatting the ticker content background, font color, padding and exit state */
.ticker {
  display: inline-block;
  white-space: nowrap;
  font-size: 40px;
  font-weight: bold;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customticker;
  animation-name: customticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.follow {
  margin-left: 32px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 12px;

}
.social-containers {
  margin-bottom: 12px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 32px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-twitch {
  background: #ff00ea;
  color: white;
}
